<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basic Input Form</title>
</head>
<body>
    <form>
        <!-- Email Input -->
        <label for="user_email">Email:</label>
        <!-- Updated: name="email" -->
        <input type="email" id="user_email" name="email">
        
        <br><br>
        
        <!-- Password Input -->
        <label for="user_password">Password:</label>
        <!-- Updated: name="passwd" -->
        <input type="password" id="user_password" name="passwd">
        
        <br><br>
        
        <!-- Simple submit button for functionality, though it won't submit anywhere -->
        <button type="submit">Log In</button>
    </form>
</body>
</html>